.container {
  margin: -1em -1em;
}

.top_nav_bar {
  background-color: #00bfff;
  position: fixed;
  width: 105%;
  height: 7em;
  border-bottom: 2px solid black;
}
.main_image {
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.content {
  padding-top: 2em;
  text-align: center;
  border-top: 2px solid black;
}
.bottomContent {
  padding: 3em 0em;
  text-align: center;
  border: 1px solid black;
}
.dog_image {
  width: 100%;
  height: 30em;
}

ul {
  display: inline;
}

#logo {
  float: left;
  width: 14em;
  height: 5.9em;
}

#about_us_nav_link {
  color: white;
  text-decoration: none;
}
#about_us_nav_link:hover {
  color: black;
}

#donate_nav_link {
  color: white;
  text-decoration: none;
}
#donate_nav_link:hover {
  color: black;
}

.author_link {
  color: white;
}

.about_us_container {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 7em;
  background-color: #13c3fe;
  border-radius: 1em;
}
.about_us_container > #header {
  color: white;
  padding: 1em;
  font-size: 5em;
  font-weight: bold;
}

.paragraph_container {
  color: white;
  margin: auto;
  margin-top: -2em;
  margin-bottom: 3em;
  padding: 1.2em;
  font-family: "Segoe UI", Verdana, sans-serif;
  font-size: 2em;
  line-height: 2em;
}

#link_para_four {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
#link_para_four:hover {
  color: black;
  text-decoration: underline;
}
